@import "./block/content_a";
@import "./block/header";

:root{
  --color-title: #3f3f3f;
  --font-family: 'Source Sans 3', sans-serif;
  --blue-element: rgb(44, 156, 221);
}

















  