@import "./mixin";
  
  /*block b*/
  .text_b {
    @include title;
  }
  .content_blok_b {
    font-family: var(--font-family);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
  }
  .horizontal_container {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    text-align: center;
  }
  .title_litle{
    font-size: 20px;
    color: #3f3f3f; 
  }
  .line {
    border: none; /* видаляємо границю */
    border-bottom: 1px solid var(--blue-element); /* встановлюємо синю лінію замість границі */
    display: block; /* зробимо елемент блочним для того, щоб зайняти весь рядок */
    margin: 0; /* забираємо можливі внутрішні відступи, щоб лінія була на повну ширину */
    padding: 0; /* забираємо можливі внутрішні відступи */
  }
  .paragraph{
    font-size: 17px;
    color: #969696; 
  }
  .slider-nav {
    text-align: center;
  
    .dot {
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        cursor: pointer;
  
        &.active {
            background-color: #717171;
        }
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media screen and (max-width: 960px) {
    .horizontal_container:nth-child(3) {
      display: none;
    }
    
    .horizontal_container {
      width: 45%;
      max-width: 300px;
    }
  
    .text_b {
      @include title;
      font-size: 28px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .horizontal_container:not(:first-child) {
      display: none;
    }
    
    .horizontal_container {
      width: 60%;
      max-width: none; /* Видаляємо обмеження максимальної ширини */
    }
  
    .text_b {
      @include title;
      font-size: 26px;
    }
  }
  