@import "./mixin";

.text_b {
  @include title;
}
.content_blok_b {
  font-family: var(--font-family);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}
.horizontal_container {
  width: calc(30% - 20px);
  margin-bottom: 20px;
  text-align: center;
}
.title_litle{
  @include sdandart-text;
  color: rgb(49, 49, 49);
  font-size: 18px;
}
.line {
  border: none; 
  border-bottom: 1px solid var(--blue-element); 
  display: block; 
  margin: 0; 
  padding: 0; 
}
.paragraph{
  @include sdandart-text;
}
.dots-container {
  display: flex;
}
.new{
  .dot {
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: #acacac;
    border-radius: 50%;
    cursor: pointer;
  }
}

/* Додаткові стилі для деактивації крапок при розширенні екрану більше 850 пікселів */
@media screen and (min-width: 960px) {
  .new{
    .dot {
      pointer-events: none;
      display: none;
    }
  }
}


@media screen and (max-width: 960px) {
  .horizontal_container:nth-child(3) {
    display: none;
  }
  .horizontal_container {
    width: 45%;
    max-width: 300px;
  }
  .text_b {
    @include title;
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .horizontal_container:not(:first-child) {
    display: none;
  }
  .horizontal_container {
    width: 60%;
    max-width: none; 
  } 
  .text_b {
    @include title;
    font-size: 26px;
  } 
  .slider_nav a.active {
    background-color: #333;
  }
}