:root{
  --color-title: #3f3f3f;
  --font-family: 'Source Sans 3', sans-serif;
  --blue-element: rgb(44, 156, 221);
}
  

  .blok_c{
      margin-top: 70px;
      height: 250px;
      margin-left: -10px;
      margin-right: -10px;
      background-color: var(--blue-element);
      display: flex;
      font-family: var(--font-family);
      color: #ffffff;
    }
        .content_blok_c {
          display: flex;
          justify-content: space-between;
          max-width: 1220px;
          margin: 0 auto;
          padding: 0 15px;
        }
        .horizontal_blok {
          display: inline-block;
          text-align: center;
          margin: 50px;
        }
        .img_c_blok{
          width: 80px;
          height: 65px;
        }
        .number{
          font-size: 26px;
          margin-top: 15px;
        }
        .text_c{
          font-size: 16px;
          margin-top: -20px;
        }
  
  
        @media screen and (min-width: 751px) and (max-width: 850px) {
          .blok_c{
            margin-top: 70px;
            height: 250px;
            margin-left: -10px;
            margin-right: -10px;
            background-color: var(--blue-element);
            display: flex;
            font-family: var(--font-family);
            color: #ffffff;
          }
              .content_blok_c {
                display: flex;
                justify-content: space-between;
                max-width: 1220px;
                margin: 0 auto;
                padding: 0 15px;
              }
              .horizontal_blok {
                display: inline-block;
                text-align: center;
                margin: 50px;
              }
              .img_c_blok{
                width: 80px;
                height: 65px;
              }
              .number1{
                font-size: 24px;
                margin-top: 15px;
              }
              .text_c1{
                font-size: 16px;
                margin-top: -10px;
              }
            }
  
  
  @media screen and (min-width: 600px) and (max-width: 750px) {
    .horizontal_blok {
      margin: 25px;
    }
  }
  
  @media screen and (min-width: 470px) and (max-width: 599px) {
  /* block c */
  .blok_c {
    margin-top: 20px;
    height: 380px;
  }
  .content_blok_c {
    display: flex;
    justify-content: space-between;
    max-width: 560px;
    margin: 10px auto;
    padding: 0 15px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .horizontal_blok {
    flex: 0 0 calc(50% - 20px);
    text-align: center;
    margin: 5px;
    margin-left: 20px;
    box-sizing: border-box; 
  }
  .right{
    margin-top: -170px;
    margin-left: 250px;
  }
  .img_c_blok {
    width: 70px;
    height: 60px;
  }
  .number {
    font-size: 20px;
    margin-top: 5px;
  }
  .text_c {
    font-size: 14px;
    margin-top: -10px;
  }
  }
  
  @media screen and (min-width: 345px) and (max-width: 469px) {
    /* block c */
    .blok_c {
      margin-top: 20px;
      height: 360px;
    }
    .content_blok_c {
      display: flex;
      justify-content: space-between;
      max-width: 570px;
      margin: 10px auto;
      padding: 0 15px;
      flex-wrap: wrap;
      gap: 20px;
    }
    .horizontal_blok {
      flex: 0 0 calc(50% - 20px);
      text-align: center;
      margin: 5px;
      margin-left: 10px;
      box-sizing: border-box; 
    }
    .right{
      margin-top: -160px;
      margin-left: 198px;
    }
    .img_c_blok {
      width: 60px;
      height: 50px;
    }
    .number {
      font-size: 20px;
      margin-top: 5px;
    }
    .text_c {
      font-size: 14px;
      margin-top: -10px;
    }
    }
  
  
    @media screen and (min-width: 320px) and (max-width: 344px) {
      /* block c */
      .blok_c {
        margin-top: 20px;
        height: 360px;
      }
      .content_blok_c {
        display: flex;
        justify-content: space-between;
        max-width: 560px;
        margin: 10px auto;
        padding: 0 15px;
        flex-wrap: wrap;
        gap: 20px;
      }
      .horizontal_blok {
        flex: 0 0 calc(50% - 20px);
        text-align: center;
        margin: 5px;
        margin-left: 10px;
        box-sizing: border-box; 
      }
      .right{
        margin-top: -158px;
        margin-left: 170px;
         .text_right{
            margin-left: -25px;
         }
      }
      .img_c_blok {
        width: 60px;
        height: 50px;
      }
      .number {
        font-size: 20px;
        margin-top: 5px;
      }
      .text_c {
        font-size: 14px;
        margin-top: -10px;
      }
      }
    
    