@import "./mixin";

.blok_CTA_2{
    @include blue-block;
    height: 230px;
    margin-top: -10px;
}
.content_CTA{
    @include content_blok;
    margin-top: -30px;
}
.horizontal_blok_CTA{
    @include horizontal_blok;
}
.img_c{
    width: 70px;
    height: 70px;
}
.img_c_2{
    width: 90px;
    height: 90px;
    margin-top: -20px;
}
.text_CTA{
    @include sdandart-text;
    color: white;
    font-weight: bold;
}
.text_CTA_litle{
    a{
        @include sdandart-text;
        margin-top: -20px;
        text-decoration: none;
        color: white;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1220px) {
    .horizontal_blok_CTA {
      margin-right: 40px;
    }
} 
@media screen and (min-width: 960px) and (max-width: 1099px) {
    .horizontal_blok_CTA {
      margin-right: 0px;
      white-space: nowrap;
    }
} 
@media screen and (min-width: 860px) and (max-width: 959px) {
    .horizontal_blok_CTA {
      margin-right: -30px;
      white-space: nowrap;
    }
    .content_CTA{
        margin-left: -50px;
    }
    .img_c{
        width: 60px;
        height: 60px;
    }
    .img_c_2{
        width: 80px;
        height: 80px;
        margin-top: -20px;
    }
} 
@media screen and (min-width: 945px) and (max-width: 959px) {
    .content_CTA{
        margin-left: 10px;
    }
}
@media screen and (min-width: 860px) and (max-width: 950px) {
    .content_CTA{
        margin-left: 10px;
    }
}
@media screen and (min-width: 825px) and (max-width: 859px) {
    .horizontal_blok_CTA {
      margin-right: -20px;
      white-space: nowrap;
    }
    .content_CTA{
        margin-left: -50px;
    }
    .img_c{
        width: 50px;
        height: 50px;
    }
    .img_c_2{
        width: 70px;
        height: 70px;
        margin-top: -20px;
    }
} 
@media screen and (min-width: 720px) and (max-width: 824px) {
    .blok_CTA_2{
        height: 200px;
    }
    .horizontal_blok_CTA {
      margin-right: -20px;
      white-space: nowrap;
    }
    .content_CTA{
        margin-left: -10px;
    }
    .img_c{
        width: 50px;
        height: 50px;
    }
    .img_c_2{
        width: 70px;
        height: 70px;
        margin-top: -20px;
    }
    .text_CTA_litle {
        font-size: 13px;
        a {
            font-size: 13px;
        }
    }
} 
@media screen and (min-width: 720px) and (max-width: 745px) {
    .blok_CTA_2{
        height: 190px;
    }
    .horizontal_blok_CTA {
        margin-right: -50px;
      }
    .content_CTA{
        margin-left: 10px;
    }
    .img_c{
        width: 40px;
        height: 40px;
    }
    .img_c_2{
        width: 60px;
        height: 60px;
        margin-top: -20px;
    }
}
@media screen and (min-width: 670px) and (max-width: 719px) {
    .blok_CTA_2{
        height: 190px;
    }
    .horizontal_blok_CTA {
        margin-right: -50px;
      }
    .content_CTA{
        margin-left: 0px;
    }
    .img_c{
        width: 40px;
        height: 40px;
    }
    .img_c_2{
        width: 60px;
        height: 60px;
        margin-top: -20px;
    }
    .text_CTA_litle {
        font-size: 13px;
        a {
            font-size: 13px;
        }
    }
}
@media screen and (min-width: 623px) and (max-width: 669px) {
    .blok_CTA_2{
        height: 190px;
    }
    .horizontal_blok_CTA {
        margin-right: -50px;
      }
    .content_CTA{
        margin-left: -40px;
    }
    .img_c{
        width: 40px;
        height: 40px;
    }
    .img_c_2{
        width: 60px;
        height: 60px;
        margin-top: -20px;
    }
    .text_CTA_litle {
        font-size: 13px;
        a {
            font-size: 13px;
        }
    }
}
@media screen and (min-width: 601px) and (max-width: 623px) {
    .blok_CTA_2{
        height: 190px;
    }
    .horizontal_blok_CTA {
        margin-right: -50px;
      }
    .content_CTA{
        margin-left: -60px;
    }
    .img_c{
        width: 40px;
        height: 40px;
    }
    .img_c_2{
        width: 60px;
        height: 60px;
        margin-top: -20px;
    }
    .text_CTA_litle {
        font-size: 13px;
        a {
            font-size: 13px;
        }
    }
}
@media screen and (min-width: 470px) and (max-width: 600px) {
    .blok_CTA_2 {
      margin-top: -10px;
      height: 380px;
    }
    .content_CTA {
      max-width: 560px;
      margin: 10px auto;
      padding: 0 15px;
      flex-wrap: wrap;
      gap: 20px;
    }
    .horizontal_blok_CTA {
      flex: 0 0 calc(50% - 20px);
      text-align: center;
      margin-top: 50px;
      margin-left: 20px;
      box-sizing: border-box; 
    }
    .left{
        margin-top: -80px;
    }
    .right_cta{
      margin-top: -220px;
      margin-left: 250px;
    }
    .img_c{
        width: 40px;
        height: 40px;
    }
    .img_c_2{
        width: 60px;
        height: 60px;
        margin-top: -20px;
    }
    .number {
      font-size: 20px;
      margin-top: 5px;
    }
    .text_CTA_litle {
        font-size: 13px;
        a {
            font-size: 13px;
        }
    }
  }
  @media screen and (min-width: 380px) and (max-width: 469px) {
    .blok_CTA_2 {
      margin-top: -10px;
      height: 380px;
    }
    .content_CTA {
      max-width: 560px;
      margin: 10px auto;
      padding: 0 15px;
      flex-wrap: wrap;
      gap: 20px;
    }
    .horizontal_blok_CTA {
      flex: 0 0 calc(50% - 20px);
      text-align: center;
      margin-top: 50px;
      margin-left: 10px;
      box-sizing: border-box; 
    }
    .left{
        margin-top: -80px;
    }
    .right_cta{
      margin-top: -220px;
      margin-left: 195px;
    }
    .img_c{
        width: 40px;
        height: 40px;
    }
    .img_c_2{
        width: 60px;
        height: 60px;
        margin-top: -20px;
    }
    .number {
      font-size: 20px;
      margin-top: 5px;
    }
    .text_CTA_litle {
        font-size: 13px;
        a {
            font-size: 13px;
        }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 379px) {
    .blok_CTA_2 {
      margin-top: -10px;
      height: 300px;
    }
    .content_CTA {
      max-width: 560px;
      margin: -10px 20px;
      padding: 0 15px;
      flex-wrap: wrap;
      gap: 20px;
    }
    .horizontal_blok_CTA {
      flex: 0 0 calc(50% - 20px);
      text-align: center;
      margin-top: 50px;
      margin-left: -10px;
      box-sizing: border-box; 
    }
    .left{
        margin-top: -90px;
    }
    .right_cta{
      margin-top: -192px;
      margin-left: 150px;
    }
    .img_c{
        width: 40px;
        height: 40px;
    }
    .img_c_2{
        width: 60px;
        height: 60px;
        margin-top: -20px;
    }
    .number {
      font-size: 20px;
      margin-top: 5px;
    }
    .text_CTA{
        font-size: 12px;
        margin-top: 0px;
    }
    .text_CTA_litle {
        font-size: 12px;
        a {
            font-size: 12px;
        }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 330px) {
    .content_CTA {
        margin: -10px 5px;
    }
  }