:root{
  --color-title: rgb(70, 70, 70);
  --color-sdandart-text: rgb(153, 153, 153);
  --blue-element: rgb(44, 156, 221);
  --font-family: 'Open Sans', sans-serif;
}

@mixin title {
    color: var(--color-title);
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    text-align: center;
  }
@mixin sdandart-text{
    color: var(--color-sdandart-text);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
  /*CTA and content_c*/
  @mixin blue-block{
    margin-top: 70px;
    height: 300px;
    margin: 0 -10px;
    background-color: var(--blue-element);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
  }
  @mixin horizontal_blok{
    display: inline-block;
    text-align: center;
    margin: 70px;
  }
  @mixin content_blok{
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
  }














  